extends layout

block content
  h2 Passe o cursor e clique na região de interesse para selecionar o capítulo

  form.panel(name='funcao', method='POST', action='#{address}')
    input#id(type='hidden', name='id', value='#{id}')

    div#man.left-container
      h1.topic Fatores ambientais
      img(src='/images/world_small.png')

      input#e1(type='submit', name='chapters',
        onclick='return send(this, "e1");', value='',
        title='Produtos e tecnologias')

      input#e2(type='submit', name='chapters',
        onclick='return send(this, "e2");', value='',
        title='Ambiente natural e mudanças ambientais feitas pelo ser humano')

      input#e3(type='submit', name='chapters',
        onclick='return send(this, "e3");', value='',
        title='Apoio e relacionamentos')

      input#e4(type='submit', name='chapters',
        onclick='return send(this, "e4");', value='',
        title='Atitudes')

      input#e5(type='submit', name='chapters',
        onclick='return send(this, "e5");', value='',
        title='Serviços, sistemas e serviços')

    script.
      $(function() {
        $( document ).tooltip();
      });
