extends layout

block content
  form#form(name="capitulo", method="post", address="")
    input#id(name="id", type="hidden", value="#{id}")
    input#data(name="data", type="hidden", value='#{data}')

    div#accordion

    div#chapter

    script.
      $(function() {
        var chapter = "#{chapter}";
        var titles = !{titles};
        var page = !{page};
        var data = JSON.parse($("input#data").val());
        console.log("page =", page);

        createChapterPage($("div#accordion"), chapter, titles, page, data);
      });
