extends layout

block content
  h2 Passe o cursor e clique na região de interesse para selecionar o capítulo

  form.panel(name='funcao', method='POST', action='#{address}')
    input#id(type='hidden', name='id', value='#{id}')
    script.
      setCanvasObject = function($canvas, image, action) {
        $canvas.first = true;
        $canvas.out = true;
        console.log("canvas ", $canvas);
        loadCanvasImage($canvas, image);

        $canvas.on('mouseover', function(e) {
          if (isTransparentUnderMouse(this, e)) {
            setTimeout(function() { $('.my-tooltip').hide(); }, 0);
          }
        });

        $canvas.on('mousemove', function(e) {
          if (!isTransparentUnderMouse(this, e)) {
            if ($canvas.first) {
              $('.my-tooltip').show();
              $canvas.first = false;
            }
            if ($canvas.out) {
              $('.my-tooltip').show();
              $canvas.out = false;
            }
            return true;
          }
          else
          {
            if (!$canvas.out) {
              $('.my-tooltip').hide();
              $canvas.out = true;
            }
            return true;
          }
        });

        $canvas.on('mouseleave', function(e) {
          $('.my-tooltip').hide();
          $canvas.out = true;
        });

        $canvas.on('click', function(e) {
          sendAction(this, action);
        });
      };

    if sex == 'm'
      div#man.left-container
        h1.topic Funções do corpo
        div#map(width="416px", height="622px")
          canvas(width="416px", height="622px", title="Funções da pele e estruturas relacionadas")
          script.
            $(function() {
              var $canvas = $("div#man.left-container > div > canvas");
              setCanvasObject($canvas, '/images/funcoes_homem.png', 'b8');
            });

          input#b1(type='submit', name='chapters', onclick='return sendAction(this);',
            value='', title='Funções mentais')

          input#b2(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções sensoriais')

          input#b3(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções da voz e da fala')

          input#b4(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções dos sistemas cardiovascular, hematológico, imunológico, respiratório')

          input#b5(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções dos sistemas digestivo, metabólico e endócrino')

          input#b6(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções geniturinárias e reprodutivas')

          input#b7(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções neuromusculo-esqueléticas e relacionadas ao movimento')

      div#man.middle-container
        button(onclick='return sendAction(this, "b1");', style='width: 298px;',
          onmouseover='display("input#b1");', onmouseout='hide("input#b1");') Funções mentais
        button(onclick='return sendAction(this, "b2");', style="width: 298px;",
          onmouseover='display("input#b2");', onmouseout='hide("input#b2");') Funções sensoriais
        button(onclick='return sendAction(this, "b3");', style="width: 298px;",
          onmouseover='display("input#b3");', onmouseout='hide("input#b3");') Funções da voz e da fala
        button(onclick='return sendAction(this, "b4");', style="width: 298px;",
          onmouseover='display("input#b4");', onmouseout='hide("input#b4");') Funções dos sistemas cardiovascular, hematológico, imunológico, respiratório
        button(onclick='return sendAction(this, "b5");', style="width: 298px;",
          onmouseover='display("input#b5");', onmouseout='hide("input#b5");') Funções dos sistemas digestivo, metabólico e endócrino
        button(onclick='return sendAction(this, "b6");', style="width: 298px;",
          onmouseover='display("input#b6");', onmouseout='hide("input#b6");') Funções geniturinárias e reprodutivas
        button(onclick='return sendAction(this, "b7");', style="width: 298px;",
          onmouseover='display("input#b7");', onmouseout='hide("input#b7");') Funções neuromusculo-esqueléticas e relacionadas ao movimento
        button(onclick='return sendAction(this, "b8");', style="width: 298px;",
          onmouseover='display("input#b8");', onmouseout='hide("input#b8");') Funções da pele e estruturas relacionadas

    else if sex == 'f'
      div#woman.left-container
        h1.topic Funções do corpo
        div#map(width="400px", height="618px")
          canvas(width="400px", height="618px", title="Funções da pele e estruturas relacionadas")
          script.
            $(function() {
              var $canvas = $("div#woman.left-container > div > canvas");
              setCanvasObject($canvas, '/images/funcoes_mulher.png', 'b8');
            });

          input#b1(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções mentais')

          input#b2(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções sensoriais')

          input#b3(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções da voz e da fala')

          input#b4(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções dos sistemas cardiovascular, hematológico, imunológico, respiratório')

          input#b5(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções dos sistemas digestivo, metabólico e endócrino')

          input#b6(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções geniturinárias e reprodutivas')

          input#b7(type='submit', name='chapters',
            onclick='return sendAction(this);', value='',
            title='Funções neuromusculo-esqueléticas e relacionadas ao movimento')

      div#woman.middle-container
        button(onclick='return sendAction(this, "b1");', style='width: 298px;',
          onmouseover='display("input#b1");', onmouseout='hide("input#b1");') Funções mentais
        button(onclick='return sendAction(this, "b2");', style="width: 298px;",
          onmouseover='display("input#b2");', onmouseout='hide("input#b2");') Funções sensoriais
        button(onclick='return sendAction(this, "b3");', style="width: 298px;",
          onmouseover='display("input#b3");', onmouseout='hide("input#b3");') Funções da voz e da fala
        button(onclick='return sendAction(this, "b4");', style="width: 298px;",
          onmouseover='display("input#b4");', onmouseout='hide("input#b4");') Funções dos sistemas cardiovascular, hematológico, imunológico, respiratório
        button(onclick='return sendAction(this, "b5");', style="width: 298px;",
          onmouseover='display("input#b5");', onmouseout='hide("input#b5");') Funções dos sistemas digestivo, metabólico e endócrino
        button(onclick='return sendAction(this, "b6");', style="width: 298px;",
          onmouseover='display("input#b6");', onmouseout='hide("input#b6");') Funções geniturinárias e reprodutivas
        button(onclick='return sendAction(this, "b7");', style="width: 298px;",
          onmouseover='display("input#b7");', onmouseout='hide("input#b7");') Funções neuromusculo-esqueléticas e relacionadas ao movimento
        button(onclick='return sendAction(this, "b8");', style="width: 298px;",
          onmouseover='display("input#b8");', onmouseout='hide("input#b8");') Funções da pele e estruturas relacionadas

    script.
      $(function() {
        $(document).tooltip({ track : true, tooltipClass: "my-tooltip" });
      });
      $(function() {
        $('button').button();
      });
