extends form-layout

block content
  h1= title
  form#formAdicionaPaciente(name="adicionaPaciente", method="post", action="#{address}")
    input#cidlist(type="hidden", value="")

    if locals._id
      input(type="hidden", name="_id", value="#{_id}")
    p Nome
      input(type="text", placeholder="Nome do paciente", name="nome", value="#{nome}")
    p Data de nascimento
      input(type="text", placeholder="Data de nascimento", name="dataNascimento" value="#{dataNascimento}")
    p Sexo
      span.radio
        input(type="radio", name="sexo", value="m", checked=sexo)
        label.radio Masculino
        input(type="radio", name="sexo", value="f", checked=!sexo)
        label.radio Feminino
    p CPF
      input(type="text", placeholder="CPF do paciente", name="cpf", value="#{cpf}")

    // Morbidades
    div#listaRegistros
      script.
        var adicionaRegistro = function(label, value) {
          var $registros = $("input#numRegistros");
          console.log("registros = ", $registros.val());
          var num = $registros.val();
          var divId = "itemRegistro" + num;
          var $div = inputRegistro(divId, label, value);
          $registros.val(parseInt($registros.val()) + 1);
          $("div#listaRegistros").append($div);
          return false;
        }

      // Item 0 descartado
      input(type="hidden", name="tiposRegistro", value="")
      input(type="hidden", name="registros", value="")

      if registros
        input#numRegistros(type="hidden", value="#{registros.length}")
        each registro, i in registros
          script.
            $(function() { adicionaRegistro("#{registro.nome}", "#{registro.valor}"); });
      else
        input#numRegistros(type="hidden", value="0")

    p
      button(onclick="return adicionaRegistro();") Adiciona registro

    p Endereço
      input(type="text", placeholder="Logradouro", name="logradouro", value="#{logradouro}")
    p &nbsp;
      input(type="text", placeholder="Complemento", name="complemento" value="#{complemento}")
    p &nbsp;
      input(type="text", placeholder="Bairro", name="bairro" value="#{bairro}")
    p &nbsp;
      input(type="text", placeholder="CEP", name="cep" value="#{cep}")

    // Morbidades
    div#listaMorbidades
      script.
        var adicionaMorbidade = function(cid) {
          var $morbidades = $("input#numMorbidades");
          console.log("morbidades = ", $morbidades.val());
          var num = $morbidades.val();
          var label = num > 0 ? "Comorbidade" : "Morbidade";
          var divId = "itemMorbidade" + num;
          var $div = comboCID(divId, label, "morbidades", cid);
          $morbidades.val(parseInt($morbidades.val()) + 1);
          $("div#listaMorbidades").append($div);
          return false;
        }

      // Item 0 descartado
      input(type="hidden", name="morbidades", value="")

      if morbidades
        input#numMorbidades(type="hidden", value="#{morbidades.length}")
        each morbidade, i in morbidades
          script.
            $(function() { adicionaMorbidade("#{morbidade}"); });
      else
        input#numMorbidades(type="hidden", value="0")

    p
      button(onclick="return adicionaMorbidade('');") Adicionar Morbidade

    span
      button#btnSubmit.inline(type="submit") Salvar
      button.inline(onclick="window.location='/paciente/lista'; return false;") Cancelar
