extends layout

block content
  h1= title
  ul
    table
      tr
        th(width="550px") Nome
        th(width="170px") Login
        th(width="150px") Administrador
        th(width="120px") Editar

      each usuario, i in usuarios
        tr
          td
            a(href="/paciente/edita/#{usuario._id}")= usuario.nome
          td= usuario.login
          td= usuario.admin ? 'sim' : 'não'
          td
            button.inline(onclick="window.location='/usuario/#{usuario._id}'; return false;") ...


  form#formNovoPaciente(name="novoUsuario", method="get", action="/usuario/novo")
    button#novo(type="submit") Novo Usuário
