<tr>
    {{debug sujeito}}
    <td><a href="/paciente/editar/{{sujeito._id}}">{{sujeito.nome}}</a></td>
    <td>{{sujeito.dataNascimento}}</td>
    <td>{{sujeito.sexo}}</td>
    <td>{{sujeito.cpf}}</td>
    <td>
        <button onclick="window.location='/paciente/{{sujeito._id}}/dominio'; return false;"
                class="inline">CIF
        </button>
    </td>
    <td>
        <button onclick="window.location='/paciente/{{sujeito._id}}/data'; return false;"
                class="inline">⇩
        </button>
    </td>
</tr>
